*{
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(../images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(196, 84, 181, 0.897);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #161175;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}



.search-bar button {
    border: 2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3820c2;
    cursor: pointer;

}