<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Car Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<head>
<body>
    <header>
        <h1>Car Search</h1>
    </header>
    <main>
        <form action="/search" method="post">
          
            <label for="name">Car name:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Search</button>
        </form>
    </main>
    <footer>
        <p>Copyright © 2024</p>
    </footer>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOW CARS</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
<div class="container">
    <form action="https://www.pakwheels.com/new-cars/" method="get" class="search-bar">
        <input type="text" placeholder="SEARCH CAR" name="q">
        <button type="submit"><img src="../images/search.png"></button>
    </form>

</div>
</body>

</html>